.card2_item_img:hover {
  transform: scale(1.2);
  opacity: 10%;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  40% {
    opacity: 0;
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    transform: translateX(0);
  }

  80% {
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(4px);
  }
}