* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color-dark: #2c3e50;
  --primary-color-light: #eeeeee;
}

body {
  background-color: var(--primary-color-dark);
  color: var(--primary-color-light);
  font-family: 'lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

#pop_up {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  background-color: var(--primary-color-dark);
  height: 100%;
  width:
    100%;
  z-index: 1090;
  padding: 10% 38rem 0 2rem;
}

#pop_up h2 {
  font-size: 2.4rem;
  color: #00b87b;
}

#pop_up p {
  font-size: 1.4rem;
}

#container {
  background-color: var(--primary-color-dark);
  max-width: 1140px;
  margin: 0px 20px;
  padding:
    10px 20px;
  transition: background 400ms linear;
  position: relative;
}

.container_content {
  display: flex;
  justify-content: space-between;

}

.index_section {
  display: flex;
  flex-direction: column;
  /* flex-shrink: 0; flex-grow: 0; 
  flex-basis: auto; */
  position: sticky;
  top: 0;
  z-index: 1020;
  width: 33.33%;
  height: 100%;
}

.index_content {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  height: 100%;
  padding-bottom: 2rem;
  overflow: hidden;
}

.index_content img {
  margin-bottom: 25px;
  vertical-align: center;
  max-width: 100%;
  height:
    auto;
}

.index_content h1 {
  margin: 8px 0px;
  color: #00b87b;
  font-size: 1.8rem;
  font-weight: 600;
}

.profile_photo {
  height: 355px;
}

.profile_photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(80%);
  /*filter: grayscale(40%)*/
}

.index_typed_text {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight:
    600;
  line-height: 1.5;
  padding: 0px 20px;
}

.index_section_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:
    3rem;
}

.index_section_btn .btn {
  margin: 0px 8px;
  padding: 20px 25px;
}

/* .index_section_btn .btn {
  
} */

.btn {
  background: #314355;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 300ms linear;
}

.btn:active,
.contact_form_btn:active,
.fa-brands:active {
  transform: scale(1.05);
}

.btn:hover {
  background-color: #253240 !important;
  color: #00b87b !important;
}

.about_me_section {
  width: 66.66%;
  margin-top: 2rem;
  padding: 0 0 3rem 2rem;
}

.padding_bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.about_me_content {
  padding: 2rem 0;
  font-family: 'roboto', 'segoe UI', sans-serif;
  /* 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.title {
  position: relative;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  padding-bottom: 20px;
  /* 
  padding: 2rem 0; */
}

.title::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  bottom: -4px;
  border: 2px solid #00b87b;
  border-radius: 10px;
}

.title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 50px;
  bottom: 1px;
  left:
    20px;
  background-color: #00b87b;
}

.more_about_me {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  padding-top: 1rem;
}

.more_about_me_content {
  width: 50%;
}

.name_title {
  color: #00b87b;
  font-weight: 600;
}

.more_about_me_content a {
  color: inherit;
  text-decoration: none;
}

.more_about_me_card2 {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.skill_section_content {
  margin-top: 3rem;
}

.skills {
  line-height: 3;
}

.skill_name {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
}

.card2_content_grp {
  display: flex;
  align-items: center;
  background-color:
    #314355;
  padding: 20px;
}

.card2_content_grp h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #00b87b;
}

.card2_content_typed_text {
  padding: 10px;
}

.card2_content_typed_text h5 {
  font-size: 1.25rem;
  font-weight: 600;

}

.progress {
  height: 5px;
  width: 100%;
  background-color: #FFD1DC;
}

.progress_bar_html {
  height: 5px;
  width: 85%;
  background-color: #00FF00;
}

.progress_bar_css {
  height: 5px;
  width: 75%;
  background-color: #FF8C00;
}

.progress_bar_javascript {
  height: 5px;
  width: 20%;
  background-color: #dc3545;
}

.experience_section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.experience_section h5 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  position:
    relative;
}

.experience_section h5::before {
  content: "";
  width: 70px;
  height: 2px;
  background-color:
    #e9ecef;
  position: absolute;
  bottom: 40%;
  left: -80px;
}

.experience_section_content {
  border-left: #e9ecef 2px solid;
  padding-left: 5rem;
  line-height:
    1.5;
}

.experience_section_content_card {
  position: relative;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 25px;
}

.service_section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.service_section_content {
  /* display: grid; grid-template-columns: repeat(2 , 1fr); 
  grid-template-rows: repeat(2 , 1fr); align-items: center; justify-content: center; 
  text-align: center; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align:
    center;

}

.service_section_content_grp {
  width: 50%;
  margin-top: 20px;
  padding: 0px 20px;
}

.service_section_content_card {
  background: #314355;
  padding: 40px;
  height: 400px;
}

.service_section_content_card h5 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.service_section_content_card i {
  width: 75px;
  height: 75px;
  background-color:
    #e9ecef;
  color: #00b87b;
  display: flex;
  align-items: center;
  justify-content:
    center;
  margin-bottom: 20px;
  margin: 0px auto 20px;
  transition: background 400ms linear;
}
.service_section_content_card p {
text-align: left;
}
.portfolio_section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.portfolio_section_content {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 1rem; margin-left: 
  2rem; margin-right: 2rem; */
}

.portfolio_section_content_card {
  width: 100%;
  /* padding-top: 1rem; padding-left: 2rem; 
  padding-right: 2rem; */
}

.portfolio_content_card1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.portfolio_content_card1_item {
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: center;
}

.portfolio_content_card1_item i {
  padding-right: 5px;
  color: #00b87b;
}

.portfolio_content_card1_item ul {
  list-style: none;
  margin-bottom: 1.5rem;
  padding-left: 0;
}

.portfolio_content_card1_item ul .btn {
  background-color: #273644;
  border-color:
    #253240;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.37rem 0.75rem;
}

.portfolio_content_card2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  /* margin-left: 
  2rem; margin-right: 2rem; */
}

.portfolio_card2_item {
  width: 50%;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right:
    0.5rem;
}

.portfolio_card2_item_box {
  overflow: hidden;
}

.card2_item_img {
  position: relative;
  max-width: 100%;
  height: auto;
  transition: all 400ms linear;
  opacity: 1;
}

.contact_section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contact_text {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0 70px 20px;
  line-height: 1.3;
}

.form_content {
  display: flex;
  flex-wrap: wrap;
}

.form_content_card_half {
  width: 50%;
}

.form_content_card_full {
  width: 100%;
}

.form_content input,
textarea {
  background-color: #314355;
  padding: 1rem 0.75rem;
  margin: 0.5rem 0;
  width: 100%;
  font-family:
    inherit;
  font-weight: 400;
  color:
    #fff;
  line-height: 1.5;
  border: 0;
}

.form_content_card_item {
  position: relative;
  max-width: 100%;
  margin-top: 10px;
  padding-left:
    5px;
  padding-right: 5px;
}

input:focus,
textarea:focus {
  box-shadow: 0px 0px 0px 0.25rem rgba(0, 184, 123, 0.25);
  outline: none;
}

textarea {
  font-size: 1rem;
  height: 150px;
  padding: 0 0.5rem;
}

#textarea::placeholder {
  position: absolute;
  font-size: 0.8rem;
}

button[type="submit"] {
  display: inline-block;
  border: none;
  background-color:
    #00b87b;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding:
    1rem;
  cursor: pointer;
}

/* .footer_section { padding-top: 2rem;
} */

.footer_section_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #314355;
  color: #fff;
  width:
    100%;
  height: 40vh;
  line-height: 2.5;
}

.footer_btn {
  margin: 3px;
  color: #fff;
}

.fa-brands {
  background-color: #2c3e50;
  color: #fff;
  padding: 5px 10px;
}

.footer_content_card2 .footer_btn {
  border-left: #e9ecef 1px solid;
  padding: 0 10px;
  text-decoration: none;
}

.footer_type_text a {
  font-weight: 500;
  color: #00b87b;
  text-decoration: none;
}

/* digital business card section */
#card_body {
  background-color: #475a70;
}

#card_container {
  background-color: var(--primary-color-dark);
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 1rem auto;
}

.card_img_box {
  width: 100%;
}

.card_img_box img {
  width: 100%;
}

.card_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:
    center;
  line-height: 2rem;
  margin-top: 0.5;
}

.card_text_box .name {
  font-size: 1.2rem;
}

.card_text_box .career {
  font-size: 1rem;
}

.card_text_box .web_link,
.card_text_box .web_link {
  font-size: 1rem;
  color: var(--primary-color-light);
}

.card_text_box .contact_email {
  display: inline-flex;
  align-items: center;
  justify-content:
    center;
  background-color: #fff;
  width: 200px;
  border-radius: 8px;
  padding: .3rem;
}

.card_text_box .contact_email svg,
.card_text_box .contact_email a {
  display: flex;
  align-items: center;
  fill: var(--primary-color-dark);
  stroke:
    var(--primary-color-light);
  font-size:
    0.8rem;
  color: var(--primary-color-dark);
}

.change_bg-btn {
  display: inline-flex;
  margin-top: .8rem;
}

.toggle {
  display: inline-flex;
  align-items: center;
}

.toggle svg {
  cursor: pointer;
  display: inline-flex;
}

.left_toggle svg {
  fill: #f5f5f5;
  stroke: var(--primary-color-dark);
  margin-right: -.2rem;
}

.right_toggle svg {
  fill: #f5f5f5;
  stroke: var(--primary-color-dark);
  margin-left: -.3rem;
}

.left_toggle svg:active,
.right_toggle svg:active {
  transform: scale(1.1);
}

.card_text_box .about_me,
.card_text_box .interest {
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom:
    -1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card_text_box .about_me .heading,
.card_text_box .interest .heading {
  font-size: 1.1rem;
}

.about_me_paragraph,
.interest_paragraph {
  font-size: 0.8rem;
}

.card_footer_box {
  background-color: #1a2433;
  margin-top: 2rem;
}

.card_footer_box .contact_icons_box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0.6rem 0 0.2rem 0;
}

.icon_box {
  background-color: #f5f5f5;
  height: 25px;
  width: 25px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
}

.icon_box svg {
  width: 20px;
  height: 20px;
  stroke: var(--primary-color-dark);
  fill:
    var(--primary-color-dark);
  stroke-width: 1;
  margin-top: .2rem;
}

#bg_color_changer_box {
  position: fixed;
  top: 30rem;
  right: 2.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  z-index: 1030;
}

.light_mode_box .feather:active,
.dark_mode_box .feather:active {
  transform: scale(1.08);
  stroke: #00b87b;
}

.light_mode_box .feather,
.dark_mode_box .feather {
  cursor: pointer;
  transition: backround 300ms linear;
}

.back_to_top_btn {
  position: fixed;
  top: 34.8rem;
  right: 1.6rem;
  display: none;
  flex-direction:
    column;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  z-index:
    1030;
    transition: all 400ms ease-in-out;
}

.back_to_top_msg {
  font-size: 0.6rem;
  color: #00b87b;
  margin-top: .6rem;
}
